/* Banner */

@-moz-keyframes reveal-banner {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes reveal-banner {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes reveal-banner {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes reveal-banner {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}