.navbar {
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    top: 0px;
    display: grid;
    align-items: center;
    width: 100%;
    padding: 1rem;
    grid-area: header;

}

.ulForLinks {
    position: relative;
    width: 100%;
}

.links {
    text-align: center;
    border-style: groove;
    border-radius: 1em;
    margin: auto;
    width: 20%;
    border: 5px solid #ffffff;
    padding: 6px;
    margin-top: 1em;
}

.closeButton {
    text-align: center;
    margin: auto;
    width: 3%;
    padding: 6px;
    margin-top: 1em;
    margin-right: 1em;
}

.closeMenu {
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    border-style: groove;
    border-radius: 1em;
    border: 3px solid #ffffff;
    text-align: center;

}

.padder {
    padding: 1rem;
}

.lrContainers {
    width: 200px;
    justify-content: end;
    display: flex;
    align-items: center;
}

.lrContainersRight {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 0px;
    float: right;
}

.container {
    display: grid;
    grid-template-columns: 500px 500px 500px 500px;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main . sidebar"
        "footer footer footer footer";
}